*.json
*.pper
*.error
*.css
*.map
*.png
*.metadata
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.js
*.csv
.Rhistory
.Rproj.user/F499FBE2/quarto-crossref/9FBBD0B9
.Rproj.user/F499FBE2/quarto-crossref/INDEX
.Rproj.user/F499FBE2/rmd-outputs
.Rproj.user/F499FBE2/saved_source_markers
.Rproj.user/F499FBE2/sources/prop/76FB2342
.Rproj.user/F499FBE2/sources/prop/EFA93DC0
.Rproj.user/F499FBE2/sources/prop/INDEX
.Rproj.user/F499FBE2/sources/s-494F64DC/lock_file
.Rproj.user/F499FBE2/sources/session-b95a6787/3FBE2D30
.Rproj.user/F499FBE2/sources/session-b95a6787/3FBE2D30-contents
.Rproj.user/F499FBE2/sources/session-b95a6787/56973B75
.Rproj.user/F499FBE2/sources/session-b95a6787/56973B75-contents
.Rproj.user/F499FBE2/sources/session-b95a6787/lock_file
.Rproj.user/shared/notebooks/5DFC679B-rr-v5/1/F499FBE2BBF142FF/c2o1d5rdsib3l/000003.html
.Rproj.user/shared/notebooks/5DFC679B-rr-v5/1/F499FBE2BBF142FF/cn5bab2bdj924/000003.html
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
