.Rproj.user
.Rhistory
.RData
.Ruserdata
rr_2015-2024_v2_cache/html/dados-edi_7871127423a8f4d9ba1b54f5032ab7eb.rdb
*.rdb
*.RData
*.rdb
*.png
*.RData
rr_2015-2024_v3_cache/html/priors-inla_ea823d84568b0f4ce461c7470f1cb0e8.rdx
*.rdx
*.RData
*.rdx
*.rdx
*.js
*.css
rr_2015-2024_v2_cache/docx/__packages
rr_2015-2024_v2_cache/html/__packages
rr_2015-2024_v3_cache/html/__packages
*.woff
*.woff
*.rds
map.adj
*.html
tmi-repo.Rproj
